*,
*:before,
*:after {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;800&display=swap");

:root {
  --primary-color: #ffcd4a;
}

.main-content {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;

  /* 세로 스크롤바 관련 - 1 */
  -ms-overflow-style: none; /* IE, Edge No scroll bar */
  scrollbar-width: none; /* Firefox No scroll bar */
}
/* 세로 스크롤바 관련 - 2 */
.main-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera No scroll bar */
}

.app-page {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000000, #000000); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000000, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100vh;
  background-attachment: fixed;
  font-family: "Poppins";

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.container {
  margin: 1em 0.5em;
  height: calc(100% - 2em);
  /* border-radius: 13px; */
}

.lion {
  /*사용 안함*/
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 40%;
  margin-top: 20%;
  max-width: 20%;
  display: inline-block;
  position: absolute;
}

section {
  background: #f5f5f5;
  background-size: cover;
  background-blend-mode: screen;
  background-position: -100px;
  padding: 2em;
}

.members-section {
  background: #221f26;
  width: 100%;
}

.menu-btn {
  color: aliceblue;
  cursor: pointer;
  position: absolute;
  margin-top: 2em;
  margin-left: 2em;
}

/*네비 바 리스트들*/
nav ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

nav ul li {
  width: 100%;
  padding: 0.2em;
}
nav ul li a {
  text-decoration: none;
  color: #1a2051;
  font-weight: bold;
  font-size: x-large;
  display: inline-block;
  margin: 0em 0em 0.3em 3em;
}

/*네비 바 항목 가리켰을 떄*/
nav ul li a:hover {
  font-size: xx-large;
  color: #ffcd4a;
  margin: -0.14em 0em 0em 2em;
}

/*네비 바 가리기 버튼*/
.back-btn {
  color: #1a2051;
  margin-left: 2em;
  margin-top: 2em;
  cursor: pointer;
  transition: transform 0.3s;
}

.nav-menu.active {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  /* border-top-right-radius: 25px;
  border-bottom-right-radius: 25px; */
  /* height: 90%; */
  left: 0;
  transition: 0.3ms;
}

.nav-menu {
  position: fixed;
  z-index: 10;
  background: #ffffff;
  left: 0;
  top: 10;
  height: 96.05vh;
  min-width: 260px;
  max-width: 290px;
  left: -100%;
  transition: 0.3s;
}

.logo {
  color: #ffd700;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: -0.1em;
  text-align: center;
  width: 60%;
  margin: 1em;
}

/* header {
  display: flex;
} */

h1 {
  font-size: clamp(2.5rem, -0.875rem + 8.333vw, 4rem);
  font-weight: 800;
  text-transform: uppercase;
  color: white;
  line-height: 89%;
}

.cv {
  display: grid;
  place-items: center;
  height: 80%;
}

.content p {
  font-size: clamp(2rem, -0.875rem + 8.333vw, 3rem);
  font-weight: 300;
  line-height: 111%;
  color: #847d93;
  margin-top: 1.1em;
  margin-block: 0;
}

/*혜균: 네비게이션 하단 깃허브 로고*/
.giturl {
  width: 60%;
  margin-top: 10em;
  margin-left: 2em;
  margin-right: 1em;
  margin-bottom: 2em;
  /* display: inline-block; */
  /* border: 1px solid #4d4d4d; */
  padding: 0em 1.5em 0em 0em;
  position: relative;
}

.giturl:before {
  width: 60%;
  color: white;
  content: "";
  position: absolute;
  background: url("./contents/icon_github.svg") no-repeat;
  width: 2em;
  height: 2em;
  /* left: 2em;
  top: 2em; */
}

.giturl:hover {
  width: 60%;
  background: url("./contents/icon_github_hover.svg") no-repeat;
  /* width: 2em;
  height: 2em;
  left: 2em;
  top: 2em; */
}

/*혜균: 네비게이션 하단 노션 로고*/
.notionurl {
  width: 100;
  margin-top: calc(200 / 400 * 100%);
  margin-left: 2em;
  margin-right: 1em;
  margin-bottom: calc(200 / 400 * 100%);
  /* display: inline-block; */
  /* border: 1px solid #4d4d4d; */
  padding: 0em 1.5em 0em 0em;
  position: relative;
}

.notionurl:before {
  /* width: 100; */
  color: white;
  content: "";
  position: absolute;
  background: url("./contents/icon_notion.svg") no-repeat;
  width: 2em;
  height: 2em;
  /* left: 2em;
  top: 2em; */
}

.notionurl:hover {
  background: url("./contents/icon_notion_hover.svg") no-repeat;
  /* width: 2em;
  height: 2em;
  left: 2em;
  top: 2em; */
}

/*혜균: 네비게이션 하단 피그마 로고*/
.figmaurl {
  margin-top: 10em;
  margin-left: 2em;
  margin-right: 1em;
  margin-bottom: 2em;
  /* display: inline-block; */
  /* border: 1px solid #4d4d4d; */
  padding: 0em 1.5em 0em 0em;
  position: relative;
}

.figmaurl:before {
  color: white;
  content: "";
  position: absolute;
  background: url("./contents/icon_figma.svg") no-repeat;
  width: 2em;
  height: 2em;
  /* left: 2em;
  top: 2em; */
}

.figmaurl:hover {
  background: url("./contents/icon_figma_hover.svg") no-repeat;
  /* width: 2em;
  height: 2em;
  left: 2em;
  top: 2em; */
}

@media only screen and (min-width: 1000px) {
  .nav-menu {
    position: unset;
    transform: translateX(0) !important;
    border-radius: unset;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    height: 100%;
  }

  @media only screen and (min-width: 700px) {
    .left-col {
      display: flex;
    }

    .content p {
      width: 80%;
    }
  }

  .menu-btn,
  .back-btn {
    display: none;
  }

  ul {
    margin-top: 4em;
  }

  header {
    padding: 1.6em;
  }
  .container {
    display: flex;
    padding: 0.5em;
  }

  .logo {
    text-align: left;
  }

  section {
    /* border-radius: unset;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px; */
    width: 100%;
    background-size: cover;
    background-position: 0;
    background-attachment: unset;
  }

  .content {
    justify-self: left;
    margin-left: 4em;
  }
}

@media only screen and (max-width: 768px) {
  .main-content {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
  }
}
