*,
*:before,
*:after {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;800&display=swap");

:root {
  --primary-color: #2d7dff;
}

.app-page {
  background: #304352; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d7d2cc,
    #304352
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d7d2cc,
    #304352
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100vh;
  background-attachment: fixed;
  font-family: "Poppins";

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.container {
  margin: 1em 0.5em;
  height: calc(100% - 2em);
}

.lion {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 40%;
  margin-top: 20%;
  max-width: 20%;
  display: inline-block;
  position: absolute;
}

section {
  background: #f0f0f0;
  width: 50em;
  height: cover;
}
/*h1 태그, content p 태그 삭제함 */
/* 이도경 수정 부분 */
/*Home 이미지, p 테그 수정 부분 */

.coffee-container {
  margin-left: 2em;
  margin-top: 3em;
  width: 20em;
}

.coffee {
  opacity: 0.7;
}

.content .bottom-line {
  margin-top: -1em;
  margin-left: 4em;
}

/* 이도경 수정 부분 */
/*비전 이미지, p 테그 수정 부분 */

.cup {
  opacity: 0.7;
  margin-left: -4em;
  width: 37em;
}

.wakeup {
  margin-left: 4.5em;
  font-size: 3.4em;
}

.wakeup-kor {
  margin-top: -4em;
  margin-left: 9em;
}

.wakeup-des {
  margin-left: 13em;
  font-size: 0.8em;
}

.cup2 {
  margin-left: 13em;
  margin-top: 4em;
  width: 30em;
  opacity: 0.7;
}

.text-anywhere {
  font-size: 3em;
}

.vision-logo {
  width: 20em;
  margin-left: 12em;
  margin-top: 6em;
}

.text-anywhere {
  margin-left: 3.5em;
  font-size: 3.4em;
  margin-top: 2em;
}

.text-anywhere-des {
  margin-top: -2em;
  margin-left: 15em;
  font-size: 0.8em;
}

/*핸드폰 화면용으로 설정 - 이도경 */
@media screen and (max-width: 420px) {
  .wakeup {
    margin-left: 4em;
    font-size: 2.7em;
  }

  .wakeup-kor {
    margin-top: -3.7em;
    margin-left: 6.5em;
    font-size: 1em;
  }

  .wakeup-des {
    margin-left: 9.2em;
    margin-top: -1.2em;
    font-size: 0.7em;
    font-weight: 300;
  }

  .cup {
    opacity: 0.7;
    margin-left: -6em;
    width: 30em;
  }

  .cup2 {
    margin-left: 8em;
    margin-top: 4em;
    width: 23em;
    opacity: 0.7;
  }

  .vision-logo {
    width: 20em;
    margin-left: 6em;
    margin-top: 6em;
  }

  .text-anywhere {
    margin-left: 2em;
    font-size: 3em;
    margin-top: 2em;
  }

  .text-anywhere-des {
    margin-top: -2em;
    margin-left: 9em;
    font-weight: 300;
    font-size: 0.7em;
  }

  .maintext {
    font-size: 2em;
    margin-left: 0.7em;
  }
  .text-need {
    margin-left: 1.5em;
  }
}

/*----- 아래부터는 수정한 부분 아님 - 이도경 - */
.members-section {
  background: #221f26;
  width: 100%;
}

.menu-btn {
  color: aliceblue;
  cursor: pointer;
  position: absolute;
  margin-top: 2em;
  margin-left: 2em;
}

nav ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

nav ul li {
  width: 100%;
}
nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 0.875em 5em 0.875em 4em;
}

nav ul li a:hover {
  background: #413e47;
}

.back-btn {
  color: white;
  margin: 2em;
  cursor: pointer;
  transition: transform 0.3s;
}

.nav-menu.active {
  left: 0;
  transition: 0.3ms;
}

.nav-menu {
  position: fixed;
  z-index: 1;
  background: #2c2931;
  left: 0;
  top: 0;
  height: 100vh;
  max-width: 300px;
  left: -100%;
  transition: 0.3s;
}

.logo {
  color: black;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 4em;
  letter-spacing: -0.1em;
  text-align: center;
  width: 100%;
  margin: 0;
}

header {
  display: flex;
}

h1 {
  font-size: clamp(2.5rem, -0.875rem + 8.333vw, 4rem);
  font-weight: 800;
  line-height: 89%;
}
.text_quitus {
  margin-top: -1em;
  margin-left: 15em;
}

.cv {
  display: grid;
  place-items: center;
  height: 80%;
}

.cta {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 2.875em;
  display: inline-block;
  border: 1px solid #4d4d4d;
  padding: 1.25em 1.25em 1.25em calc(2.5em + 1.5em);
  position: relative;
}

.cta:before {
  color: white;
  content: "";
  position: absolute;
  background: url("./contents/github.svg") no-repeat;
  width: 5em;
  height: 5em;
  left: -0.2em;
  top: -0em;
}

.cta:hover {
  background: var(--primary-color);
}

@media only screen and (min-width: 1000px) {
  .nav-menu {
    position: unset;
    transform: translateX(0) !important;
    border-radius: unset;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    height: 100%;
  }

  .coffee-container {
    width: 30em;
    margin-left: 25em;
  }

  @media only screen and (min-width: 700px) {
    .text-need {
      font-size: 2em;
      margin-top: -0.3em;
      margin-left: 0.3em;
    }
    .left-col {
      display: flex;
    }

    /*홈페이지 수정 - 이도경 */
    .coffee-container {
      width: 26em;
      margin-left: 26em;
      margin-top: -8em;
    }
    .coffee {
      opacity: 0.7;
    }

    .cup {
      width: 50em;
      margin-left: -10em;
      opacity: 0.7;
    }
    .content .bottom-line {
      margin-top: 1em;
      margin-left: 5em;
      margin-bottom: 3em;
    }

    /*비전 페이지 수정 - 이도경 */
    .wakeup {
      margin-left: 6em;
      font-size: 5em;
    }

    .wakeup-kor {
      margin-left: 21em;
      margin-top: -5em;
    }

    .wakeup-des {
      font-size: 1.03em;
      font-weight: 400;

      margin-left: 24em;
    }

    .cup2 {
      margin-left: 16em;
      margin-top: 4em;
      width: 40em;
      opacity: 0.7;
    }

    .text-anywhere {
      font-size: 3em;
    }

    .vision-logo {
      width: 34em;
      margin-left: -2em;
      margin-top: 3em;
    }

    .text-anywhere {
      margin-top: 2em;
      margin-left: 0em;
      font-size: 4em;
    }

    .text-anywhere-des {
      margin-left: 0em;
      margin-top: -2em;
      font-size: 1.1em;
    }
  }

  .menu-btn,
  .back-btn {
    display: none;
  }

  ul {
    margin-top: 4em;
  }

  header {
    padding: 1.6em;
  }
  .container {
    display: flex;
    padding: 2em;
  }

  .logo {
    text-align: left;
  }

  section {
    /* border-radius: unset;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px; */
    width: 100%;
    background-size: cover;
    background-position: 0;
    background-attachment: unset;
  }

  .content {
    justify-self: left;
    margin-left: 4em;
  }
}
